body{
    background-color:coral;
}




.box1{
    background-color: bisque;
    height: 600px;
    width: 400px;
    margin :auto;
    text-align: center;
    padding: 20px;
}
.box2{
    background-color: rgb(67, 66, 68);
    height: 400px;
    width: 400px;
    margin:auto;
    text-align: center;
    padding: 20px;
    max-width:250px;

}
.box3{
    background-color:orange;
    height:400px;
    width:400px;
    margin :auto;
    text-align: center;
    padding: 20px;
    max-width: 250px;
    
}
.box4{
    background-color:skyblue;
    height:400px;
    width:400px;
    text-align: center;
    padding: 20px;
    margin:auto;
    max-width: 250px;
    margin-top: 10;
}
.box5{
    background-color:seagreen;
    height:400px;
    width:400px;
    text-align: center;
    padding: 10px;
    max-width: 250px;
    margin:auto;
    margin-top: 10px;
}
.characters1{
    display:grid;
    grid-template-columns: repeat(4, 350px);
    padding: 10px;
    gap:5px;
    
}
